Source: toulbar2
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Schiex <Thomas.Schiex@toulouse.inra.fr>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               cmake, bc,
               libgmp-dev,
               libboost-graph-dev,
               libboost-iostreams-dev,
               libjemalloc-dev
Standards-Version: 4.1.4
Vcs-Browser: https://salsa.debian.org/science-team/toulbar2
Vcs-Git: https://salsa.debian.org/science-team/toulbar2.git
Homepage: http://www.inra.fr/mia/T/toulbar2

Package: toulbar2
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Exact combinatorial optimization for Graphical Models
 Toulbar2 is  an exact discrete optimization tool for Graphical Models
 such as Cost Function Networks, Markov Random Fields, Weighted Constraint
 Satisfaction Problems and Bayesian Nets.
