@import url("theme.css");

/* ------------------------------------------------------------------------- */
/*
    |  X
 ---|-------
    |  X
    |  X
 */

.wy-nav-content {
    padding: 10px 20px 10px 30px;
    height: 100%;
    max-width: 1500px;
    margin: auto;
    background-color: #ffffff;
    text-align: left;
}

.wy-nav-content a {
    color: #007bff;
}
.wy-nav-content a:hover {
    background: #c9c9c9;
}
.wy-nav-content a:visited {
    color: #007bff;
}

/* ------------------------------------------------------------------------- */
/*
     X |
    ---|-------
       |
       |
 */

.wy-side-nav-search {
    background-color: #EEEEEE; /* same as .wy-nav-side */
}

.wy-side-nav-search a.icon-home {
    color: Firebrick; /* color: transparent; */
}

.wy-nav-top {
    /*color of nav at top when the window is narrow*/
    background: #EEEEEE; /* same as .wy-side-nav-search */
    color: Firebrick;
}

/* ------------------------------------------------------------------------- */
/*
       |
    ---|-------
     X |
     X |
 */

.wy-nav-side {
/* This relates to the entire color of the sidebar */
   background-color: #EEEEEE;
   border-right: 1px solid #c9c9c9; /* Firebrick; */
}

.wy-menu a:hover {
    /*background color of text upon hovering*/
    background: #c9c9c9;
}

.wy-menu-vertical a {
    color: #414042;
}

.wy-menu-vertical li.on a:hover,.wy-menu-vertical li.current>a:hover {
    /*background color of text upon hovering an open list*/
    background: #c9c9c9;
}

.wy-menu-vertical {
    /* text color of expanded menu items in the sidebar */
    color:#414042; /*(sertaquoi?)*/
}

/* ------------------------------------------------------------------------- */

.rst-content h1 {
    color: #414042;
    font-size: 180%;
    /*text-align: center;*/
    padding: 0.6em 0em 0.4em 0em;
}

.rst-content h2 {
    color: #414042;
    border-bottom: 1px solid #ebc7c7; /* souligne */
    padding: 0.2em 0em 0.2em 0em;
}
  
.wy-nav-content-wrap {
    /* background color of wrap around main content*/
    background-color: white;
}

.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
    /*color of code blocks*/
    background-color: #EEEEEE;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Ubuntu Mono", monospace, sans-serif;
}

.rst-content section ul li { list-style-type:disc; }
.rst-content section ol li { list-style-type:disc; }

.wy-menu-vertical li.toctree-l1.current>a {
    /*text color of toctree*/
    color: #414042; /* texte du sous-menu principal */
}

/* ------------------------------------------------------------------------- */
/*
    |  X
 ---|-------
    |
    |
 */

.toulbar2news {
    float: right;
    width: 50%;
    padding-left: 0rem;
    padding-right: 1rem;
    position: relative;
    top: -5rem; 
    margin-bottom: -4rem;
}


/* .toulbar2header {
} */

.toulbar2logo {
    /* width: 50%;
    margin: auto 0 auto auto; */
    width: 100%;
}

.toulbar2logo h1 {
    text-align: center;
    color: FireBrick;
    font-size: 2.0em;
    letter-spacing: 0.4em;
    font-weight: normal;
    padding: 0.2em 0em 0.2em 0em;
    margin: 0;
}
.toulbar2logo h2 {
    text-align: center;
    margin: 0 0 0.2em 0;
    color: Gray;
    font-size: 1.0em;
    letter-spacing: 0.2em;
    font-weight: normal;
    padding: 0.2em 0em 0.2em 0em;
    margin: 0;
    border-bottom: none;
}

.toulbar2headerline {
    text-align: right;
    color: white;
    padding: 0.6em 1em;
    background-color: Firebrick;
    margin: 1em 0em 1em 0em;
}
.toulbar2headerline a {
    color: white;
}
.toulbar2headerline a:hover {
    background: #c9c9c9;
}
.toulbar2headerline a:visited {
    color: white;
}

/* ------------------------------------------------------------------------- */

