/* link and hover */
a:link {
	color: #000;
}
a:hover {
  	text-decoration: none;
	border-bottom: 1px dotted #bb242d;
	background-color: Gray;
	color: #666;
}
a:visited {
	color: #555;
}

/* basic html */
body {
	font: 15px "Ubuntu Mono", monospace, sans-serif;
	color: DimGray;
	background: White;
}
table {
	border: solid 1px #ccc;
	border-color: #e6e6e6;
        width: 100%;
}
table.logo {
	text-align: center;
	border-color: White;
}
td {
	font-size: 14px;
	vertical-align: top;
	padding: 0.5em;
}
td.horaire {
	width: 10%; 
	background-color: #c2c2c2; 
	vertical-align: top;
}
td.presentation {
	background-color: #e0e0ff; 
	vertical-align: top;
}
td.discussion {
	vertical-align: top; 
	background-color: #f0f0ff;
}
td.bandeau {
	background-color: #c2c2c2;
	text-align: center;
}
td p {
	margin-top: 0;
}
ul li {
	margin-left: 110px;
}

p {
	padding: 0 0 0 100px;
        width: auto;
	line-height: 1.5;
}

h1 {
	text-align: center;
	color: FireBrick; 
	font-size: 2.5em;
	letter-spacing: 0.2em;
	font-weight: normal;
	padding: 1em 25px 0 0;
}
h2 {
	text-align: center;
	margin: 0 0 0.5em 0;
	color: Gray; 
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: double 3px #a5bdcd;
	padding: 0 0 0.4em 0;
	border-bottom-color: #eee;
}
h3 {
	padding: 0 0 0 50px;
	font-size: 2.2em;
	color: Black;  
	border-color: #ddd;
}
h4 {
	padding: 0 0 0 50px;
	border-bottom-color: #888;
	font-size: 1.2em;
	margin: 0.6em 0 0 0.4em;
	color: #444;
}
h5 {
	padding: 0 0 0 50px;
        font-size: 1.2em;
        color: Black;  
        background: #eee;
        border: dotted 1px #C7C7C7;
        border-color: #ddd;
	margin: 0.6em 0 0 -0.3em;
}


/* parts */

#menu {
	font: "Ubuntu Mono", monospace, sans-serif;
	font-size: 1.2em;
	color: White;
	background-color: FireBrick;
	height: 4em;
}
#menu ul {
	margin: 0;
	padding: 1.5em;
	list-style: none;
}
#menu li {
	display: inline;
	padding: 0;
}
#menu a {
	color: White;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover {
	background-color: #d7e4ed;
}

#footer {
        text-align: center;
	clear: both;
	color: LightGray;
	font-size: 0.8em;
	margin-bottom: 1px;
}

/* code example */

pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  background-color: WhiteSmoke;
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

/* show/hide parts */

.show_hide {
    background: #ffffee; /* yellow */
    margin: 10px 100px 10px 100px;
}

